/* @font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 600;
  font-style: SemiBold;
}

@font-face {
  font-family: 'Jejudoldam-regular';
  src: url('./assets/font/EF_jejudoldam.ttf');
  font-weight: 400;
  font-style: normal;
} */

.bold {
  font-family: 'Pretendard-Bold';
}
.semiBold {
  font-family: 'Pretendard-SemiBold';
}

body {
  width: 390px;

  margin-left: auto !important;
  margin-right: auto !important;
  border: 0;
  margin: 0;

  font-family: 'Pretendard-Regular';
}

@media (max-width: 390px) {
  body {
    width: 100%;
  }
}

.root {
  width: 100%;
  border: 0;
  margin: 0;
}
