body {
  width: 390px;

  margin-left: auto !important;
  margin-right: auto !important;
  border: 0;
  margin: 0;

  font-family: 'Pretendard-Regular';
}

@media (max-width: 390px) {
  body {
    width: 100%;
  }
}

.root {
  width: 100%;
  border: 0;
  margin: 0;
}

button {
  font-family: 'Pretendard-Regular';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
